# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_MASK_V2_LEFT

config ZMK_KEYBOARD_NAME
	default "mask"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_MASK_V2_LEFT || SHIELD_MASK_V2_RIGHT

config ZMK_SPLIT
	default y

endif
