# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_MASK_V2_LEFT
	def_bool $(shields_list_contains,mask_v2_left)

config SHIELD_MASK_V2_RIGHT
	def_bool $(shields_list_contains,mask_v2_right)
