# Copyright (c) 2021 Nick Winans
# Copyright (c) 2021 Marco Sterbik
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF53X_APP
	default y
	depends on BOARD_MASK
